:root {
    --link-color: #00F39A;
    --primary-color : #050209;
}

.percircle {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    background-color: #ccc
}

.percircle.dark {
    background-color: transparent;
}

.percircle.dark .bar,
.percircle.dark .fill,
.percircle.dark.gt50 .fill {
    border-color: var(--link-color);
}

.percircle.dark>span {
    color: var(--link-color);
}

.percircle.dark:after {
    background-color: var(--link-color);
}

.percircle.gt50 .slice,
.percircle .rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.percircle .bar,
.percircle.gt50 .fill,
.percircle .pie {
    position: absolute;
    border: .08em solid var(--link-color);
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.percircle.gt50 .bar:after,
.percircle.gt50 .fill,
.percircle .pie-fill {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.percircle .center {
    float: none;
    margin: 0 auto
}

.percircle.big {
    font-size: 240px
}

.percircle.small {
    font-size: 80px
}

.percircle>span {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 1em;
    font-size: .2em;
    color: #ccc;
    display: block;
    text-align: center;
    white-space: nowrap
}

.percircle .perclock>span {
    font-size: .175em
}

.percircle .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    clip: rect(0, 1em, 1em, .5em)
}

.percircle:hover {
    cursor: default
}

.percircle:hover:after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.percircle.animate:after,
.percircle.animate>span {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.percircle.animate .bar {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}